<section class="advantages">
  <h2 class="visually-hidden">I</h2>
  <div class="container item-advantages">
    <ol class="number-list">
      <li class="list-text">
        <span class="number-text-list">01</span>
        Swimming and water sports: try your hand at water skiing
      </li>

      <li class="list-text">
        <span class="number-text-list">02</span>Fishing: try to catch your own
        dinner
      </li>

      <li class="list-text">
        <span class="number-text-list">03</span>
        Sightseeing tours: take a shore or island tour, enjoy the views and
        sunsets from the water
      </li>

      <li class="list-text">
        <span class="number-text-list">04</span>
        Rest and relaxation: read a book or listen to music while enjoying the
        outdoor atmosphere.
      </li>
    </ol>
    <!-- <img
      class="picture"
      src="../img/advantages/adv-desk.jpg"
      srcset="
        ./img/advantages/adv-desk.jpg    1x,
        ./img/advantages/adv-desk@2x.jpg 2x
      "
      alt="advantages-yacht"
    /> -->
    <picture class="picture">
      <source
        srcset="
          ../img/advantages/adv-desk.jpg    1x,
          ../img/advantages/adv-desk@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ../img/advantages/adv-tab.jpg    1x,
          ../img/advantages/adv-tab@2x.jpg 2x
        "
        media="(min-width: 768px) and (max-width: 1279px)"
      />
      <source
        srcset="../img/advantages/adv.jpg 1x, ../img/advantages/adv@2x.jpg 2x"
        media="(max-width: 767px)"
      />
      <img
        class="img-advantages"
        src="../img/advantages/adv.jpg"
        alt="portfolio picture"
        width="432"
      />
    </picture>
  </div>
</section>
