<section class="advantages">
  <div class="item-advantages">
    <h2 class="visually-hidden">I</h2>
    <!-- <div class="advantages-wraper"> -->
      <ol class="number-list">
        <li class="list-text">
          <span class="number-text-list">01</span>
          <p>Swimming and water sports: try your <br />hand at water skiing</p>
        </li>
  
        <li class="list-text">
          <span class="number-text-list">02</span>
          <p>Fishing: try to catch your own dinner</p>
        </li>
  
        <li class="list-text">
          <span class="number-text-list">03</span>
          <p>
            Sightseeing tours: take a shore or island tour,<br />
            enjoy the views and sunsets from the water
          </p>
        </li>
  
        <li class="list-text">
          <span class="number-text-list">04</span>
          <p>
            Rest and relaxation: read a book or listen to <br />
            music while enjoying the outdoor atmosphere.
          </p>
        </li>
      </ol>
  
      <picture class="picture">
        <source
          srcset="
            ./img/advantages/adv-desk.jpg    1x,
            ./img/advantages/adv-desk@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/advantages/adv-tab.jpg    1x,
            ./img/advantages/adv-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/advantages/adv.jpg 1x, ./img/advantages/adv@2x.jpg 2x"
          media="(min-width: 375px)"
        />
        <img
          class="img-advantages"
          src="./img/advantages/adv.jpg"
          alt="portfolio picture"
          width="432"
          height="434"
        />
      </picture>
    </div>
  </div>
</section>
