<footer class="footer">
  <div class="container footer-container">
    <div class="footer-header">
      <div class="footer-logo">
        <a class="logo" href="index.html">yachtjet</a>
      </div>
      <!-- Header buttons -->
      <div class="footer-navigation">
        <ul class="footer-navigation-list">
          <li>
            <a class="footer-navigation-btn" href="index.html">About</a>
          </li>
          <li>
            <a class="footer-navigation-btn" href="index.html">Yachts</a>
          </li>
          <li>
            <a class="footer-navigation-btn" href="index.html">Reviews</a>
          </li>
        </ul>
      </div>
      <!-- Sotial media list -->
      <div class="footer-sm">
        <ul class="footer-sm-list">
          <li class="footer-sm-item">
            <a class="footer-sm-item-bckg" href="">
              <svg class="footer-sm-icon" width="19" height="19">
                <use href="../img/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>

          <li class="footer-sm-item">
            <a class="footer-sm-item-bckg" href="">
              <svg class="footer-sm-icon" width="19" height="19">
                <use href="../img/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li class="footer-sm-item">
            <a class="footer-sm-item-bckg" href="">
              <svg class="footer-sm-icon" width="19" height="19">
                <use href="../img/symbol-defs.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-slogan">
      <p class="footer-slogan-text">
        No matter which yacht you choose, our experienced crew will ensure that
        your journey is smooth and enjoyable.
      </p>
    </div>

    <div class="footer-additions">
      <p class="footer-cc">2023. Yacht Adventures</p>
      <a class="footer-pp" href="">Privacy Policy</a>
    </div>
  </div>
</footer>
