<footer class="footer">
  <div class="footer-container">
    <div class="footer-header">
      <div class="footer-mob-header">
        <div class="footer-logo">
          <a class="footer-logo-text" href="index.html">yachtjet</a>
        </div>
        <!-- Header buttons -->
        <nav class="footer-nav">
          <ul class="footer-nav-list">
            <li>
              <a class="footer-nav-btn" href="#about-section">About</a>
            </li>
            <li>
              <a class="footer-nav-btn" href="#yacht-section">Yachts</a>
            </li>
            <li>
              <a class="footer-nav-btn" href="#reviews-section">Reviews</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Sotial media list -->
      <div class="footer-sm">
        <ul class="footer-sm-list">
          <li class="footer-sm-item">
            <a
              class="footer-sm-item-bckg"
              href="https://www.instagram.com/goitclub/"
            >
              <svg class="footer-sm-icon" width="20" height="20">
                <use href="./img/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>

          <li class="footer-sm-item">
            <a
              class="footer-sm-item-bckg"
              href="https://www.youtube.com/c/GoIT"
            >
              <svg class="footer-sm-icon" width="20" height="20">
                <use href="./img/symbol-defs.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>

          <li class="footer-sm-item">
            <a
              class="footer-sm-item-bckg"
              href="https://www.facebook.com/goITclub/"
            >
              <svg class="footer-sm-icon" width="20" height="20">
                <use href="./img/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-slogan">
      <p class="footer-slogan-text">
        No matter which yacht you choose, our experienced crew will ensure that
        your journey is smooth and enjoyable.
      </p>
    </div>

    <div class="footer-additions">
      <p class="footer-cc">2023. Yacht Adventures</p>
      <a class="footer-pp" href="index.html">Privacy Policy</a>
    </div>
  </div>
</footer>
