<div class="modal-container">
    <div class="modal-header">
        <div class="modal-header-container">
            <a href="#" class="modal-header-link">yachtjet</a>
            <button type="button" class="modal-header-close-btn">
                <svg class="modal-header-close-icon" width="16" height=16 fill="none">
                    <use href="./img/symbol-defs.svg#icon-close-menu"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="modal-nav">
        <nav>
            <ul class="modal-header-nav-list">
                <li class="modal-header-nav-list-item">
                    <button class="modal-header-nav-list-btn" type="button">About</button>
                </li>
                <li class="modal-header-nav-list-item">
                    <button class="modal-header-nav-list-btn" type="button">Yachts</button>
                </li>
                <li class="modal-header-nav-list-item">
                    <button class="modal-header-nav-list-btn" type="button">Reviews</button>
                </li>
            </ul>
        </nav>
        <ul class="modal-header-social-list">
            <li class="modal-header-social-list-item">
                <a class="modal-header-social-list-item-link">
                    <svg class="modal-header-social-icon" width="24" height="24" fill="none">
                        <use href="./img/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="modal-header-social-list-item">
                <a class="modal-header-social-list-item-link">
                    <svg class="modal-header-social-icon" width="24" height="24" fill="none">
                        <use href="./img/symbol-defs.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
            <li class="modal-header-social-list-item">
                <a class="modal-header-social-list-item-link">
                    <svg class="modal-header-social-icon" width="24" height="24" fill="none">
                        <use href="./img/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>

    </div>
</div>