<section class="section-gallery">
  <div class="main-container">
    <div class="sub-container">
  <h2 class="text-h2">
    Choose your dream yacht and sail away into the sunset
  </h2>
      <img class="picture" src="img/img-yaht1440.jpg" alt="Фото 1">
      <div class="text-container">
        <div class="left-text">
          <p>ARROW</p>
        </div>
        <div class="right-text">
          <p>LUXURY YACHTS</p>
        </div>
      </div>
      <ul class="list-ul">
        <li class="fr-description">
          <p class="paragraph">Length</p>
          <p class="paragraph">Builder</p>
          <p class="paragraph">Built</p>
          <p class="paragraph">Guests</p>
          <p class="paragraph">Price</p>
        
        </li>
        <li class="scnd-description">    
          <p class="paragraph-sc">48m(155ft)</p>
          <p class="paragraph-sc">Admiral</p>
          <p class="paragraph-sc">2021</p>
          <p class="paragraph-sc">11 in 5 cabins</p>
          <p class="paragraph-sc">€33,500,000</p>

        </li>
      </ul>
    </div>
    <div class="sub-container">
      <img class="picture"  src="img/img-yaht2-1440.jpg" alt="Фото 1">
      <div class="text-container">
        <div class="left-text">
          <p>BENETTI OASIS 40M B...</p>
        </div>
        <div class="right-text">
          <p>LUXURY YACHTS</p>
        </div>
      </div>
      <ul class="list-ul">
        <li class="fr-description">    
          <p class="paragraph">Length</p>
          <p class="paragraph">Builder</p>
          <p class="paragraph">Built</p>
          <p class="paragraph">Guests</p>
          <p class="paragraph">Price</p>
        
        </li>
        <li class="scnd-description">
          <p class="paragraph-sc">41m (133ft)</p>
          <p class="paragraph-sc">Benetti</p>
          <p class="paragraph-sc">2025</p>
          <p class="paragraph-sc">10 in 5 cabins</p>
          <p class="paragraph-sc">€23,210,000</p>
        </li>
      </ul>
    </div>
    <div class="sub-container">
      <img class="picture"  src="img/img-yaht3-1440.jpg" alt="Фото 1">
      <div class="text-container">
        <div class="left-text">
          <p>BELLE ANNA</p>
        </div>
        <div class="right-text">
          <p>LUXURY YACHTS</p>
        </div>
      </div>
      <ul class="list-ul">
        <li class="fr-description">
          <p class="paragraph">Length</p>
          <p class="paragraph">Builder</p>
          <p class="paragraph">Built</p>
          <p class="paragraph">Guests</p>
          <p class="paragraph">Price</p>
        
        </li>
        <li class="scnd-description">    
          <p class="paragraph-sc">50m(155ft)</p>
          <p class="paragraph-sc">ISA</p>
          <p class="paragraph-sc">2012</p>
          <p class="paragraph-sc">12 in 6 cabins</p>
          <p class="paragraph-sc">€21,000,000</p>

        </li>
      </ul>
    </div>
  </div>
  
  <button class="btn" type="button">Yacht rental</button>
  <!-- Кнопка з текстом -->
</section>