<section class="section-gallery">
  <h2 class="text-h2">
    Choose your dream yacht and sail away into the sunset
  </h2>
  <div class="main-container">
  <div class="sub-container">
      <img class="picture" src="img/img-yaht-phone.jpg" alt="Фото 1">
      <div class="text-container">
        <div class="left-text">
          <p>ARROW</p>
          <p class="hint">LUXURY YACHTS</p>
        </div>
      </div>
      <div class="line-container"></div>
      <div class="ul-container">
      <ul class="list-ul-fr">
           <li class="fr-description"><p class="paragraph">Length</p></li>
           <li class="fr-description"><p class="paragraph">Builder</p></li>
            <li class="fr-description"><p class="paragraph">Built</p></li>
              <li class="fr-description"><p class="paragraph">Guests</p></li>
                <li class="fr-description"><p class="paragraph">Price</p></li>
              </ul>

                <ul class="list-ul-scnd">
          <li class="scnd-description"><p class="paragraph-sc">48m(155ft)</p></li>
            <li class="scnd-description"><p class="paragraph-sc">Admiral</p></li>
              <li class="scnd-description"><p class="paragraph-sc">2021</p></li>
                <li class="scnd-description"><p class="paragraph-sc">11 in 5 cabins</p></li>
                  <li class="scnd-description"><p class="paragraph-sc">€33,500,000</p></li>
      </ul>
    </div>
    </div>
      </ul>
    </div>
  </div>

  <button class="btn" type="button">Yacht rental</button>
  <!-- Кнопка з текстом -->
</section>