<section class="section-gallery" id="yacht-section" >
  <div class="container yachts-container">
    <h2 class="text-h2">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="main-container">
      <li class="sub-container first">
        <picture>
          <!-- Desktop screen -->
          <source media="(min-width: 1440px)" srcset="./img/img-yaht1440.jpg 1x,
              ./img/img-yaht-1440-2x.jpg 2x" />
          <!-- Tablet screen -->
          <source media="(min-width: 1280px)" srcset="./img/img-yaht1280.jpg 1x, ./img/img-yaht-1280-2x.jpg 2x" />
          <!-- Mobile screen -->
          <source media="(max-width: 768px)" srcset="./img/img-yaht-tablet.jpg 1x , ./img/img-yaht-tablet-2x.jpg 2x" />
          <img class="picture" src="./img/img-yaht-phone.jpg"  width="302" height="240" alt="Фото 1">
        </picture>


        <div class="left-text">
          <p>ARROW</p>
          <p class="hint">LUXURY YACHTS</p>
        </div>

        <div class="line-container"></div>
        <div class="ul-container">
          <ul class="list-ul-fr">
            <li class="fr-description">
              <p class="paragraph">Length</p>
            </li>
            <li class="fr-description">
              <p class="paragraph">Builder</p>
            </li>
            <li class="fr-description">
              <p class="paragraph">Built</p>
            </li>
            <li class="fr-description">
              <p class="paragraph">Guests</p>
            </li>
            <li class="fr-description">
              <p class="paragraph">Price</p>
            </li>
          </ul>

          <ul class="list-ul-scnd">
            <li class="scnd-description">
              <p class="paragraph-sc">48m(155ft)</p>
            </li>
            <li class="scnd-description">
              <p class="paragraph-sc">Admiral</p>
            </li>
            <li class="scnd-description">
              <p class="paragraph-sc">2021</p>
            </li>
            <li class="scnd-description">
              <p class="paragraph-sc">11 in 5 cabins</p>
            </li>
            <li class="scnd-description">
              <p class="paragraph-sc">€33,500,000</p>
            </li>
          </ul>
        </div>
      </li>

      <li class="sub-container second">
        <picture>

          <!-- Desktop screen -->
          <source media="(min-width: 1440px)" srcset="./img/img-yaht2-1440.jpg 1x,
                ./img/img-yaht2-1440-2x.jpg 2x" />
          <!-- Tablet screen -->
          <source media="(min-width: 1280px)" srcset="./img/img-yaht2-1280.jpg 1x, ./img/img-yaht2-1280-2x.jpg 2x" />
          <!-- Mobile screen -->

          <source media="(max-width: 768px)"
            srcset="./img/img-yaht-tablet-2.jpg. 1x, ./img/img-yaht2-tablet-2x.jpg 2x" />
          <img class="picture" src="./img/img-yaht-tablet-2.jpg" width="302" height="240" alt="Фото 1">
        </picture>
          <div class="left-text">
            <p>BENETTI OASIS 40M...</p>
            <p class="hint">LUXURY YACHTS</p>
          </div>
        <div class="line-container"></div>
        <div class="ul-container">
          <ul class="list-ul-fr">
            <li class="fr-description">
              <p class="paragraph">Length</p>
            </li>
            <li class="fr-description">
              <p class="paragraph">Builder</p>
            </li>
            <li class="fr-description">
              <p class="paragraph">Built</p>
            </li>
            <li class="fr-description">
              <p class="paragraph">Guests</p>
            </li>
            <li class="fr-description">
              <p class="paragraph">Price</p>
            </li>
          </ul>

          <ul class="list-ul-scnd">
            <li class="scnd-description">
              <p class="paragraph-sc">41m(133ft)</p>
            </li>
            <li class="scnd-description">
              <p class="paragraph-sc">Benetti</p>
            </li>
            <li class="scnd-description">
              <p class="paragraph-sc">2025</p>
            </li>
            <li class="scnd-description">
              <p class="paragraph-sc">10 in 5 cabins</p>
            </li>
            <li class="scnd-description">
              <p class="paragraph-sc">€23,210,000</p>
            </li>
          </ul>
        </div>
      </li>

      <li class="sub-container third">
        <picture>

          <!-- Desktop screen -->
          <source media="(min-width: 1440px)" srcset="./img/img-yaht3-1440.jpg 1x,
                ./img/img-yaht3-1440-2x.jpg 2x" />
          <!-- Tablet screen -->
          <source media="(min-width: 1280px)" srcset="./img/img-yaht3-1280.jpg 1x, ./img/img-yaht3-1280-2x.jpg 2x" />
          <img class="picture" src="./img/img-yaht3-1280.jpg" width="302" height="240" alt="Фото 1">
        </picture>

        <div class="left-text">
          <p>BELLE ANNA</p>
          <p class="hint">LUXURY YACHTS</p>
        </div>

        <div class="line-container"></div>
        <div class="ul-container">
          <ul class="list-ul-fr">
            <li class="fr-description">
              <p class="paragraph">Length</p>
            </li>
            <li class="fr-description">
              <p class="paragraph">Builder</p>
            </li>
            <li class="fr-description">
              <p class="paragraph">Built</p>
            </li>
            <li class="fr-description">
              <p class="paragraph">Guests</p>
            </li>
            <li class="fr-description">
              <p class="paragraph">Price</p>
            </li>
          </ul>

          <ul class="list-ul-scnd">
            <li class="scnd-description">
              <p class="paragraph-sc">50m(155ft)</p>
            </li>
            <li class="scnd-description">
              <p class="paragraph-sc">ISA</p>
            </li>
            <li class="scnd-description">
              <p class="paragraph-sc">2012</p>
            </li>
            <li class="scnd-description">
              <p class="paragraph-sc">12 in 6 cabins</p>
            </li>
            <li class="scnd-description">
              <p class="paragraph-sc">€21,000,000</p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <a class="btn" href="#rent-section">Yacht rental</a>
  </div>

  </div>
</section>