.footer {
  display: flex;
  /* flex-direction: column; */
  background-color: #0e1823;
  padding: 0 10px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px 20px 30px;
  gap: 40px;
  border-radius: 24px 24px 0 0;
  background-color: #1b414b;
}

.container.footer-container {
  /* width: auto; */
  max-width: 375px;
  margin: 0 auto;
}

.footer-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 37px; */
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 80px;
  box-sizing: border-box;
  width: 100%;
}

.footer-mob-header {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

.footer-logo {
  margin-right: 12px;
}
.footer-logo-text {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #fbfbfb;
}
.footer-nav {
  margin-left: auto;
}

.footer-nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.footer-nav-btn {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 66px;
  height: 40px;
  background-color: rgba(251, 251, 251, 0.3);
  border: none;
  border-radius: 8px;

  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
}

.footer-sm {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-sm-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  flex-direction: row;
  gap: 8px;
}
.footer-sm-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.footer-sm-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fbfbfb;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.footer-slogan {
  margin-bottom: 42px;
}
.footer-slogan-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}
.footer-additions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.footer-cc {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
}
.footer-pp {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
}

/* ------------------------------Media 768------------------------------------ */

@media screen and (min-width: 768px) {
  .footer {
    padding: 0;
  }

  .footer-container {
    padding: 50px 48px 20px 48px;
    gap: 97px;
    width: 100%;
  }

  .container.footer-container {
    max-width: 736px;
  }

  .footer-header {
    flex-wrap: nowrap;
    gap: 0;
  }
  .footer-logo-text {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.03em;
  }
  .footer-nav {
    margin: auto;
  }

  .footer-nav-btn {
    width: 91px;
    height: 40px;
  }

  .footer-slogan {
    margin-bottom: 0;
  }

  .footer-slogan-text {
    font-size: 32px;
    line-height: 1;
    color: #fbfbfb;
  }

  .footer-cc {
    font-size: 14px;
    line-height: 1.18;
  }

  .footer-pp {
    font-size: 14px;
    line-height: 1.18;
  }
}

/* --------------------------Media screen 1280--------------------------------------- */

@media screen and (min-width: 1280px) {
  .footer-container {
    padding: 50px 75px 20px 75px;
    gap: 97px;
    width: 100%;
  }

  .container.footer-container {
    max-width: 1230px;
  }
}

/* --------------------------Media screen 1440--------------------------------------- */

@media screen and (min-width: 1440px) {
  .container.footer-container {
    max-width: 1390px;
  }
}

.footer-slogan {
  max-width: 699px;
}
