.section-gallery {
  background-color: #0e1823;
  padding: 0 20px;
  padding-bottom: 75px;
}

.text-h2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin: 0 auto;
  margin-bottom: 40px;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1440px;
}

.sub-container {
  border-radius: 24px;
  font-family: 'Inter', sans-serif;
  background: #fbfbfb;
  padding: 16px 16px 32px 16px;
  position: relative;
  max-width: 320px;
}

.picture {
  border-radius: 24px;
  margin: 0 auto;
}

.text-container {
  display: flex;
  align-items: center;
}

.left-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  line-height: 1.2;
  gap: 100px;
  display: flex;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #000607;
  margin: 0 auto;
  margin-top: 33px;
  margin-bottom: 32px;
  padding: 0 16px;
  position: relative;
}

.hint {
  opacity: 0.4;
  color: rgb(4, 3, 6);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 3%;
  text-align: left;
  text-transform: uppercase;
}

.fr-description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 6px;
  opacity: 0.4;
}

.paragraph {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #040306;
  text-transform: uppercase;
}
.scnd-description {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
}
.paragraph-sc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #040306;
}

.list-ul-fr {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: space-between;
}

.list-ul-scnd {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
}
.btn {
  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;
  background-color: #0e1823;
  color: var(--WHITE, #fff);
  margin: 0 auto;
  display: block;
  margin-top: 40px;
  width: 141px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn p {
  color: rgb(251, 251, 251);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -2%;
  text-align: left;
}
.btn:hover {
  color: #0e1823;
  background-color: white;
}

.left-text::after {
  content: '';
  display: block;
  height: 2px;
  width: 259px;
  position: absolute;
  top: 30px;
  left: 16px;
  border: 1px solid rgba(4, 3, 6, 0.1);
}
.ul-container {
  display: flex;
  flex-direction: row;
  gap: 107px;
  padding: 0 16px;
  justify-content: space-between;
}
.second,
.third {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .ul-container {
    gap: 45px;
  }
  .left-text {
    gap: 65px;
  }
  .list-ul-fr {
    justify-content: space-between;
  }
  .left-text::after {
    top: 32px;
    left: 16px;
    width: 100%;
  }
}

/* Для екранів з шириною від 768px до 1279px (включно) */
@media only screen and (min-width: 768px) {
  .ul-container {
    gap: 116px;
  }
  .left-text {
    white-space: nowrap;
    justify-content: space-between;
    gap: 0px;
  }
  .fr-description {
    max-height: 16px;
  }
  .ul-container {
    justify-content: flex-start;
    gap: 100px;
  }

  .scnd-description {
    max-width: 60px;
    max-height: 15px;
    white-space: nowrap;
  }
  .main-container {
    gap: 32px;
  }
  .text-h2 {
    max-width: 714px;
    font-size: 48px;
  }
  .second {
    display: block;
  }
}

/* Для екранів з шириною від 1280px до 1439px (включно) */
@media only screen and (min-width: 1280px) {
  .ul-container {
    gap: 160px;
  }
  .sub-container {
    max-width: 377px;
    max-height: 508px;
  }

  .left-text {
    white-space: nowrap;
    gap: 33px;
  }
  .fr-description {
    max-height: 16px;
    max-width: 60px;
    white-space: nowrap;
  }

  .scnd-description {
    max-width: 60px;
    max-height: 15px;
    white-space: nowrap;
  }
  .main-container {
    gap: 32px;
  }

  .text-h2 {
    max-width: 714px;
    font-size: 48px;
  }
  .third {
    display: block;
  }
  .left-text::after {
    width: 314px;
  }
}
