.section-gallery{
    
    height: 930px;
    background-color: #0e1823;
    margin: 0 auto;
    padding: 20px;
    min-width: 100%;
  }

  .text-h2{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  width: 714px;
  margin-left: 363px;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .container{
    display: flex;
    gap: 32px;
    justify-content: center; 
    align-items: center;
  }

  .image{
    border-radius: 24px;
    width: 392px;
    height: 508px;
    font-family: "Inter", sans-serif;
    background: #fbfbfb;
    padding: 15px;
  }

  .img-class{
    border-radius: 24px;
    width: 360px;
    height: 268px;
  }

  .frame{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 138px;
    width: 328px;
    height: 19px;
    margin-top: 30px;
    white-space: nowrap; 
  }
  .frame-fr{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 48px;
    width: 328px;
    height: 19px;
    margin-top: 30px;
    white-space: nowrap; 
  }
  .frame-sc{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 133px;
    width: 328px;
    height: 19px;
    margin-top: 30px;
    white-space: nowrap; 
  }

   .list{
     display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-direction: row;
   gap: 172px;
   height: 109px;
  }

   .description{
   align-items: flex-start;
   justify-content: flex-start;
   flex-direction: column;
   gap: 6px;
   width: 62px;
   height: 109px;
   margin-bottom: 32px;
   margin-left: 32px;
}

   .description-scnd{
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
   gap: 6px;
   width: 94px;
   height: 109px;
   margin-bottom: 32px;
   margin-right: 32px;
}

  .p-main {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #1b414b;
  }

  .p-regular{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 118%;
    letter-spacing: 0.03em;
    color: #040306;
  }

  .p-hints{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 118%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #040306;
    opacity: 0.4;
  }

  .p-hints-fr{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    opacity: 0.4;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #040306;
  }

  .svg-img{
    stroke-width: 1px;
    stroke: rgba(4, 3, 6, 0.1);
  }
  .btn{
    border: 1px solid rgba(251, 251, 251, 0.35);
    border-radius: 15px;
    padding: 16px 40px;
    width: 179px;
    height: 52px;
    background: #0e1823;
    color: var(--WHITE, #FFF);
    margin-left: 630px;
    margin-top: 50px;
  }

  @media only screen and (min-width: 1440px) {
  }


@media only screen and (min-width: 1280px) {
  .image{
    width: 377px;
    height: 508px;
  }

}


@media only screen and (min-width: 768px) {
  /* Стилі для екранів шириною до 768px */
}

@media only screen and (min-width: 375px) {
}
